body {
     background-image: url('images/moviebackground2.jpg');
     padding: 40px;
}

th {
     font-weight: 800;
     font-family: sans-serif;
     background-color: darkseagreen;
}

table{
     font-family: cursive;
     border-collapse: collapse;
     display: flex;
     justify-content: center;
}

table a{
     text-decoration: none;
     color: black;
}

th, td{
     border: 1px solid black;
}

h1{
     font-family: inherit;
    text-align: center;
    font-size: 80px;
    color: seagreen;
}